# Copy this file to .env and update the values
# Database Configuration
DATABASE_URL="mongodb://localhost:27017/infra-backend" 
           
# JWT Configuration
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
JWT_EXPIRES_IN="24h"

# SuperAdmin Credentials (CHANGE THESE IN PRODUCTION!)
SUPERADMIN_EMAIL="superadmin@admin.com"
SUPERADMIN_PASSWORD="SuperAdmin@123"
SUPERADMIN_NAME="Super Administrator"

# Application Settings
PORT=4000
# NODE_ENV="development" 
NODE_ENV="production"
FRONTEND_URL="http://localhost:3000"

# Email JS setup
RESEND_API_KEY = "re_KFQpBs1z4_AhRyJC356qpxo6v2sM7s3qHrvGCW6"  # This is a temporary key
RESEND_FROM_EMAIL = "onboarding@resend.dev" # This is a temporary email. Please update it to the official email and verify it on Resend.re_UZ6rHuNi_A4zT4jUJyeuo7qMCv3yc8xM3